@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f0f0f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    margin: auto;
    margin-top: 10vh;
    width: 75vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}



form {
    display: flex;
    margin: auto;
    margin-top: 16px;
}

button[type="submit"] {
    background-color: #00BFFF;
    cursor: pointer;
}

input {
    width: 50vw;
    border: none;
    padding: 12px;
}

.task {
    background-color: #fff;
    margin: 20px;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.task p {
    font-size: 0.9em;
    color: #6959CD;
}

button {
    background-color: #1db954;
    padding: 12px;
    font-size: 0.9em;
    border: none;
    color: #fff;
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}

@media (max-width:760px) {
    .container {
        width: 100vw;
        padding: 12px;
    }
    input {
        width: 70vw;
        justify-content: center;
    }
}